@using SD_310_W22SD_Assignment.Models.ViewModels
@model CollectionViewModel

<div style="display: flex; align-items: center; justify-content: space-between">
    <div>
    <h3 style="color: azure">@Model.CurrentUser.Name Music Collection</h3>
    <h4 style="color: azure; display: inline">Wallet: $@Model.CurrentUser.Wallet.Value.ToString("0.00")</h4>
    <p style="color: green; display: inline">@ViewBag.LoadNotif</p>
    <form asp-action="ReloadWallet" method="post">
        <p style="color: azure; display: inline">Reload Wallet:</p>
        <input type="hidden" value="@Model.CurrentUser.Id" name="userId" />
        <input type="submit" value="50" style="background-color: green" class="btn" name="amount" />
        <input type="submit" value="30" style="background-color: green" class="btn" name="amount"/>
        <input type="submit" value="10" style="background-color: green" class="btn" name="amount"/>
        <input type="submit" value="5" style="background-color: green" class="btn" name="amount"/>
    </form>
    </div>
    <div>
        <form asp-action="UserCollection" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label style="color: azure">Select a User:</label>
                <select name="userId" asp-items="Model.UserList"></select>
                <input type="submit" value="Get Collection" class="btn" style="background-color: green"/>
            </div>
        </form>  
    </div>
</div>
@if(Model != null)
{
    <table class="table">
    <thead style="color: azure">
        <tr>
            <th>
                Artist
            </th>
            <th>
                Song
            </th>
            <th>
                Refund
            </th>
            <th>
                Purchase Date
            </th>
            <th>
                Rating
            </th>
        </tr>
    </thead>
    <tbody style="color: green">
@foreach (var item in Model.Collections) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Music.Artist.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Music.Song.Title)
            </td>
            <td>
                @if(DateTime.Now <= item.PurchaseDate.AddDays(30))
                {
                    <form asp-action="RefundMusic" method="post">
                    <input type="hidden" value="@item.Id" name="collectionId"/>
                    <input type="hidden" value="@item.UserId" name="userId" />
                    <button type="submit" class="btn" style="background-color: green">Refund</button>
                    </form>
                }
                else
                {
                    <p>Refund not allowed(Over 30 days)</p>                            
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                        @for(int lightStrIndex = 0; lightStrIndex < item.Rating; lightStrIndex++)
                        {
                            <form asp-action="RateMusic" method="post" style="color: green; display: inline">
                            <input type="hidden" value="@lightStrIndex" name="rateCount"/>
                            <input type="hidden" value="@item.Id" name="collectionId"/>
                            <input type="hidden" value="@item.UserId" name="userId"/>
                            <button type="submit" style="border: 0px; background-color: transparent; padding: 0px; color: green"><span>&#9733</span></button>
                            </form>
                            
						}

                        @for(int darkStrIndex = item.Rating; darkStrIndex < 5; darkStrIndex++)
                        {
                            <form asp-action="RateMusic" method="post" style="color: green; display: inline">
                            <input type="hidden" value="@darkStrIndex" name="rateCount"/>
                            <input type="hidden" value="@item.Id" name="collectionId"/>
                            <input type="hidden" value="@item.UserId" name="userId"/>
                            <button type="submit" style="border: 0px; background-color: transparent; padding: 0px; color: green"><span>&#9734</span></button>
                            </form>
                        }

                        <span>@item.Rating / 5</span>
                    </td>
        </tr>
}
    </tbody>
</table>

<div class="row" style="border-bottom: 1px solid azure; padding-bottom: 1em">
    <div class="col-md-10">
        <form asp-action="UserCollection" asp-route-id="@Model.CurrentUser.Id" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label style="color: azure">Available Music to Purchase:</label>
                <select name="musicId" asp-items="@Model.MusicList"></select>
                <input type="submit" value="Buy music" class="btn" style="background-color: green"/>
                <input type="hidden" value="@Model.CurrentUser.Id" name="userId" />
            </div>
        </form>
    </div>
</div>
} 

@if(Model == null)
{
    <div class="row" style="border-bottom: 1px solid azure; padding-bottom: 1em; margin-top: 1em">
    <div class="col-md-10">
        <form asp-action="UserCollection" asp-route-id="@Model.CurrentUser.Id" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label style="color: azure">Available Music to Purchase:</label>
                <select name="musicId" asp-items="@Model.MusicList"></select>
                <input type="submit" value="Buy music" class="btn" style="background-color: green"/>
                <input type="hidden" value="@Model.CurrentUser.Id" name="userId" />
            </div>
        </form>
    </div>
</div>
}

@if(ViewBag.Alert == false) {
    <p style="color: red">@ViewBag.Notification</p>
}
else {
    <p style="color: green">@ViewBag.Notification</p> 
 }
